{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}


{% block main %}
    <div>
        <table class = "table table-striped">
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Name</th>
                    <th>Shares</th>
                    <th>Price</th>
                    <th>TOTAL</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td colspan = "4"></td>
                    <td>{{money}}</td>
                </tr>
            </tfoot>
            <tbody>
                {% for row in data %}
                <tr>
                    <td>{{row.symbol}}</td>
                    <td>{{row.name}}</td>
                    <td>{{row.shares}}</td>
                    <td>{{row.price}}</td>
                    <td>{{row.total}}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan = "4">CASH</td>
                    <td>{{cash}}</d>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}